<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-tab-group>
                    <mat-tab label="Não Enviados">
                        <div class="card">
                            <div class="header">
                                <mat-form-field class="example-full-width pesquisa">
                                    <input matInput placeholder="Pesquisa">
                                </mat-form-field>
                                <h4 class="title">Não enviados</h4>
                            </div>
                            <div class="content table-responsive t-full-width">
                                <table class="table table-hover table-striped" id="tabela">
                                      <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Descrição</th>
                                            <th>Usuário</th>
                                            <th>Data</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Lápizes</td>
                                            <td>Financeiro</td>
                                            <td>11/02 13:41</td>
                                        </tr>
                                      </tbody>
                                  </table>
                          </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Histórico">
                        <div class="card">
                            <div class="header">
                                <mat-form-field class="example-full-width pesquisa">
                                    <input matInput placeholder="Pesquisa">
                                </mat-form-field>
                                <h4 class="title">Histórico</h4>
                            </div>
                            <div class="content table-responsive t-full-width">
                                <table class="table table-hover table-striped" id="tabela">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Descrição</th>
                                            <th>Usuário</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Canetases</td>
                                                <td>Estoque</td>
                                                <td>12/03 14:13</td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
