@import "../../../../styles.css";

.btn-left{
    padding-top: 99px;
    padding-left: 90px;
    float: left;
    padding-left: 0px;
}
.btn-right{
    padding-top: 99px;
    padding-left: 90px;
    float: right;
}
mat-form-field{
    width: 100%;
}