@import "../../../../styles.css";

.btn-left{
    padding-top: 137px;
    padding-left: 90px;
    float: left;
    padding-left: 0px;
}
.btn-right{
    padding-top: 137px;
    padding-left: 90px;
    float: right;
}
mat-form-field{
    width: 100%;
}
.subtitle{
    color: green;
    font-size: 10px;
}
.select{
    width: 100%;
}