table {
    padding-top: 15px;
    margin-bottom: 0px; 
    display: contents;
    line-height: 40px;
    text-align: center;
}
hr{
    text-align: center;
}
button{
    color: black;
    background-color: white;
    border-color: black;
    display: inline-flex;
    height: 40px;
    border-radius: 7px;
    padding-bottom: 7px;
    border-bottom-width: 7px;
}